@model Actor

<div class="card w-75">
    <div class="card-body">
        <img src="~/cast/@Model.ProfilePicture" class="img-fluid rounded-start" alt="..." style="height: 100px; border-radius:50%;">

        <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
        <p class="card-text">@Model.Bio</p>
        <a href="#" >Social Media</a>
    </div>
</div>
